<div class="row-fluid">
  <div class="span4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "well"}) do |f| %>
    <fieldset>
      <legend>Sign Up</legend>
    <%= devise_error_messages! %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :profile_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.button :submit, "Sign up" %>
  </fieldset>  
  <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
